.navbar {
    /* background: rgba(21, 48, 57, 0.474); */
    background: #afa18a86;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(2.5px);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links li a {
    color: #3d3d3d;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.3s;
    font-weight: 200;
}

.nav-links li a:hover {
    color: #2C3639;
}

.nav-links>li>button>i{
    padding: 2px 5px;
}

/* Mobile */
@media (max-width:500px) {
    .nav-links {
        gap: 7.5px;
    }

    .nav-links>li {
        margin-right: 0;
    }
}