@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pri-btn {
    padding: 0.5rem 1rem;
    background-color: #d7b79d;
    color: #363636;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: background-color 0.25s;
  }

  .pri-btn:hover {
    background-color: #C2BDB0;
  }

  .pri-btn-outline {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #d7b79d;
    border-radius: 0.375rem;
    border: 1px solid #d7b79d;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: background-color 0.25s, color 0.25s;
  }

  .pri-btn-outline:hover {
    background-color: #d7b79d;
    color: #363636;
  }


  .bg-mycolor {
    background-color: #EEEEEE;
  }

  .bg-brandhover {
    background: #beb29f56;
  }

}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
  background-color: #dadada90;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: ease 0.3s;
}

a:hover {
  cursor: pointer;
  color: #6a6a6a;
}